body {
    font-family: 'Nunito', sans-serif; /* Use a clean, modern font */
   background-color: #00DBDE;
background-image: linear-gradient(90deg, #00DBDE 0%, #FC00FF 100%);
    
    color: #333;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 500px;
    margin: 50px auto;
    padding: 20px;
    background: #ffffff; /* Solid white background for the content box */
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3); /* Shadow effect outside the box */
    text-align: center;
    color: #333; /* Dark text color for readability */
}

h1 {
    color: #007BFF; /* Duolingo blue color */
    font-weight: bold;
    font-size: 24px;
}

button {
    padding: 12px 25px;
    margin: 10px;
    font-size: 18px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    background-color: #007BFF;; /* Eye-catching color */
    color: white;
    transition: background-color 0.3s, transform 0.2s;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Shadow on buttons */
}

button:hover {
    background-color: #007BFF;/* Darker shade for hover effect */
    transform: translateY(-2px); /* Slight lift on hover */
}

#options button {
    width: 100%;
    margin: 10px 0;
    border-radius: 20px;
}

#feedback {
    margin-top: 20px;
    font-weight: bold;
    color: #333;
}

/* Footer styling */
footer {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #f1f1f1;
    text-align: center;
    font-size: 14px;
    color: #555;
    border-top: 1px solid #e0e0e0;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Shadow effect on footer */
}

footer p {
    margin: 5px 0;
}

footer a {
    color: #007BFF;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

.like-container {
    margin-top: 20px;
}

#like-button {
    font-size: 20px;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 30px;
    background-color: #005ed0; /* Bright green for contrast */
    color: white;
    border: none;
    transition: background-color 0.3s, transform 0.2s;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Shadow on like button */
}

#like-button:hover {
    background-color: #0064a3;
    transform: translateY(-2px); /* Slight lift on hover */
}
